@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  font-family: "Spectral", serif;

  color-scheme: light dark;
  color: white;
  background-color: #181818;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

p, h1, h2, h3, h4, ul {
  margin: 0;
}

h1 {
  opacity: 80%;
}

h2, h3, h4 {
  opacity: 70%;
}

p, caption {
  opacity: 50%;
}

ul {
  list-style-type: "- ";
  padding-inline-start: 0;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  padding: 12px;
  background-color: #222;
  transition: background-color 0.2s;

  &:hover {
    background-color: #ffffff33;
  }

  &.button-with-icon {
    display: flex;
    gap: 8px;
  }
}

select {
  border: 1px solid #ffffff22;
  border-radius: 4px;
  padding: 12px 24px;
  background: #181818;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}
